apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: avd-uisa
  labels:
    cloud.googleapis.com/location: southamerica-east1
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: '1'
        autoscaling.knative.dev/maxScale: '5'
    spec:
      containerConcurrency: 80
      timeoutSeconds: 300
      containers:
      - image: PLACEHOLDER
        ports:
        - name: http1
          containerPort: 3000
        env:
        - name: NODE_ENV
          value: production
        - name: PORT
          value: '3000'
        - name: DATABASE_URL
          value: mysql://root:uisa2026@34.39.223.147:3306/avd_uisa
        - name: MULTI_TENANT_ENABLED
          value: 'true'
        resources:
          limits:
            cpu: '2'
            memory: 2Gi
  traffic:
  - percent: 100
    latestRevision: true
